<!-- Main hero unit for a primary marketing message or call to action -->
<div class="page-header">
    <h1>Detail 1</h1>
</div>

<div class="row">

    <div class="span6">

        <h3>Vertical Chart</h3>

        <hr />

        <div id="vertical-chart" class="chart-holder"></div> <!-- /#vertical-chart -->

    </div> <!-- /.span6 -->

    <div class="span6">

        <h3>Cirque Stats</h3>

        <hr />

        <div class="cirque-stats">
            <div class="ui-cirque" data-value="2875" data-total="3245" data-arc-color="#4074AA" data-label="ratio"></div>
            <div class="ui-cirque" data-value="13" data-arc-color="#BBBBBB"></div>
            <div class="ui-cirque" data-value="63" data-total="225" data-arc-color="#2790B0" data-label="ratio"></div>
            <div class="ui-cirque" data-value="40" data-arc-color="#999999"></div>
            <div class="ui-cirque" data-value="72" data-arc-color="#222222" data-label="ratio"></div>
            <div class="ui-cirque" data-value="57" data-arc-color="#94BA65"></div>
        </div> <!-- /.cirque-stats -->

    </div> <!-- /.span6 -->

</div> <!-- /row -->

<br>

<div class="row">

    <div class="span6">

        <h3>Line Chart</h3>

        <hr />

        <div id="line-chart" class="chart-holder"></div> <!-- /#line-chart -->

    </div> <!-- /.span6 -->

    <div class="span6">

        <h3>Donut Chart</h3>

        <hr />

        <div id="donut-chart" class="chart-holder"></div> <!-- /#donut-chart -->

    </div> <!-- /.span6 -->

</div> <!-- /row -->

<br>

<div class="row">

    <div class="span6">

        <h3>Pie Chart</h3>

        <hr />

        <div id="pie-chart" class="chart-holder"></div> <!-- /#pie-chart -->

    </div> <!-- /.span6 -->

    <div class="span6">

        <h3>Horizontal Chart</h3>

        <hr />

        <div id="horizontal-chart" class="chart-holder"></div> <!-- /#horizontal-chart -->

    </div> <!-- /.span6 -->

</div> <!-- /row -->