<form class="form-signin" action="javascript://">

    <h2 class="form-signin-heading">Please sign in</h2>

    <input id="username" type="text" class="input-block-level" placeholder="Email address">

    <input id="password" type="password" class="input-block-level" placeholder="Password">

    <label class="checkbox">
        <input id="rememberme" type="checkbox" > Remember me
    </label>

    <button id="signin" class="btn btn-large btn-primary" type="submit">Sign in</button>
    <hr>
    <p>email : user@mail.com - password : password</p>

</form>