<!-- Main hero unit for a primary marketing message or call to action -->
<div class="page-header">
    <h1>Status</h1>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Descr</th>
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
                <th>Four</th>
                <th>Five</th>
                <th>Six</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Detail 1</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 2</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 3</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 4</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 5</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 6</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 7</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 8</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>
            <tr>
                <td>Detail 9</td>
                <td><span class="badge">1</span></td>
                <td><span class="badge badge-success">2</span></td>
                <td><span class="badge badge-warning">4</span></td>
                <td><span class="badge badge-important">6</span></td>
                <td><span class="badge badge-info">8</span></td>
                <td><span class="badge badge-inverse">10</span></td>
            </tr>

            </tbody>


        </table>
    </div>
</div><!-- end .row -->